.habitItemFolder {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.avatar {
  position: absolute;
  display: inline-block;
  width: 75px;
  height: 75px;
  margin-right: 20px;
}

.taskContentWrapper {
  position: relative;
  margin: 0 0 0 95px;
  display: flex;
  width: 100%;
}

.habitTitle {
  display: inline-block;
  margin: 0;
  color: #333333;
  font-family: Rubik;
  font-style: normal;
  font-weight: 900;
  font-size: 22px;
  line-height: 26px;
}

.habitPoints {
  position: relative;
  display: inline-block;
  margin: 10px 0 0 25px;
  color: #333333;
  font-family: Rubik;
  font-style: normal;
  font-weight: 900;
  font-size: 22px;
  line-height: 26px;
}

.habitPoints::before {
  content: '';
  position: absolute;
  background: url(../../img/svg/star.svg);
  top: 5px;
  left: -25px;
  width: 16px;
  height: 16px;
  background-size: auto, 0;
  background-repeat: no-repeat;
  background-size: auto, 0;
  background-position: center;
}

.taskInfo {
  display: flex;
  flex-direction: column;
  margin-right: auto;
}

.taskTime {
  margin-left: auto;
  width: 120px;
}

.text {
  width: 100%;
  margin-top: 5px;
  font-family: Rubik;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  text-align: right;
  color: #828282;
}

.days {
  font-size: 22px;
  line-height: 26px;
  text-align: right;
  margin-top: 20px;
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  .habitItemFolder {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 5px 0;
  }

  .avatar {
    /* display: inline-block; */
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    margin-right: 15px;
    vertical-align: middle;
  }

  .taskContentWrapper {
    /* position: relative; */
    margin: 0;
    /* display: flex; */
    flex-wrap: wrap;
    justify-content: center;
    /* width: 100%; */
  }

  .taskInfo {
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 100%;
  }

  .habitTitle {
    /* display: inline-block; */
    margin-left: 45px;
    margin-bottom: 15px;
    /* vertical-align: middle; */
    /* color: #333333;
    font-family: Rubik;
    font-style: normal;
    font-weight: 900; */
    font-size: 18px;
    line-height: 21px;
  }

  .habitPoints {
    /* position: relative;
    display: inline-block; */
    margin: 0 0 0 auto;
    /* color: #333333;
    font-family: Rubik;
    font-style: normal;
    font-weight: 900;
    font-size: 22px;
    line-height: 26px; */
  }

  .taskTime {
    margin: 0;
    /* width: 120px; */
  }

  .text {
    margin: 0;
    width: 110px;
    height: 20px;
    /* font-family: Rubik;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #828282; */
    text-align: left;
  }

  .days {
    text-align: left;
    margin: 15px 0 0;
  }
}
