/* Не очень хороший тон изменять цвет body
div id='root' должен занимать все пространство въюпорта
*/
body{
  background-color: #FF8626;
}

.container{
  display: flex;
  align-items: center;
  padding: 44px 0 130px 170px;
}