PORT=5000
ALLOWED_ORIGIN=http://localhost/
MONGODB_URL=

# if production = production
LOCATION=local


SALT_ROUNDS=10;
JWT_SECRET=jwt-strong-secret
NODEMAILER_EMAIL=Kidslike.team@gmail.com
NODEMAILER_PASSWORD=Kidslike.team123
DOMAIN_ADDRESS=http://localhost:5007