.HabitList {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  max-width: 690px;
  margin-bottom: 30px;
}

.HabitItem {
  position: relative;
  box-sizing: border-box;
  width: 690px;
  padding: 15px;
  border-radius: 20px;
  background-color: #fff;
}

.HabitItem:not(:last-child) {
  margin-bottom: 10px;
}

.gifsTitleContainer {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 60px;
}

.giftIcon {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

.giftTitle {
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: 0em;
}

@media (max-width: 768px) {
  .HabitList {
    max-width: 280px;
  }

  .HabitItem {
    min-width: 280px;
  }

  .giftIcon {
    width: 30px;
    height: 30px;
    margin-right: 15px;
    background-size: contain;
  }

  .giftTitle {
    font-size: 22px;
    line-height: 1.18;
  }

  .listHolder {
    text-align: center;
  }
}
