.btn {
  position: absolute;
  top: -10px;
  right: -15px;
  width: 16px;
  height: 4px;
  cursor: pointer;
  border: none;
  background-image: url(../../../images/svg/dots-grey.svg),
    url(../../../images/svg/dots-black.svg);
  background-size: auto, 0;
}

.btn:hover,
.btn:focus {
  background-size: 0, auto;
}

@media (max-width: 768px) {
  .btn {
    top: 0;
    right: 0;
  }
}
