.habitItemFolder {
  position: relative;
  display: flex;
}

.avatar {
  position: absolute;
  display: inline-block;
  width: 75px;
  height: 75px;
  margin-right: 20px;
  top: 0;
  left: 0;
}

.habitContentWrapper {
  position: relative;
}

.habitTitle {
  display: inline-block;
  margin-left: 95px;
  vertical-align: middle;
  color: #333333;
  font-family: Rubik;
  font-style: normal;
  font-weight: 900;
  font-size: 22px;
  line-height: 26px;
}

.daysList {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 95px;
  margin-top: 13px;
  width: 409px;
}

.daysItem {
  display: inline-block;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  padding: 10px;
  border: 1px solid #ffffff;
  background-color: #f6f7f9;
  text-align: center;
  vertical-align: middle;
}

.daysItem:first-child {
  border-radius: 20px 0px 0px 20px;
}

.daysItem:last-child {
  border-radius: 0px 20px 20px 0px;
}

.points {
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  color: #828282;
  font-family: Rubik;
}

.text {
  position: absolute;
  right: 10px;
  bottom: -20px;
  width: 28px;
  height: 20px;
  font-family: Rubik;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #828282;
}

@media (max-width: 768px) {
  .habitItemFolder {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .avatar {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 15px;
    vertical-align: middle;
  }

  .habitTitle {
    display: inline-block;
    margin-top: 4px;
    margin-left: 45px;
    vertical-align: middle;
    color: #333333;
    font-family: Rubik;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
  }

  .daysList {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 17px;
    width: 250px;
  }

  .daysItem {
    display: inline-block;
    padding: 6px;
    width: 25.86px;
    height: 25.86px;
    border: 1px solid #ffffff;
    background-color: #f6f7f9;
    text-align: center;
    vertical-align: middle;
  }

  .daysItem:first-child {
    border-radius: 20px 0px 0px 20px;
  }

  .daysItem:last-child {
    border-radius: 0px 20px 20px 0px;
  }

  .points {
    display: block;
    font-size: 12px;
    color: #828282;
    font-family: Rubik;
  }

  .text {
    right: -5px;
    bottom: -26px;
    width: 28px;
    height: 20px;
    font-family: Rubik;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #828282;
  }
}
