.modal {
  width: 100%;
  height: 100%;
  background-color: rgba(51, 51, 51, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}
