.logoText{
font-family: Montserrat;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 27px;
letter-spacing: 0em;
text-align: left;
display: flex;

}
.logoTextLogin{
font-family: Montserrat;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 27px;
letter-spacing: 0em;
text-align: left;
display: flex;

}
 .boldLogin{
  font-weight: 600;
 }
.siteLogo {
  width: 50px;
  height: 50px;
  margin-right: 15px;
}
.bold{
    font-weight: 600;
}

.logoContainer{
      display: flex;
    align-items: center;
    margin-right: 308px;
}
@media  screen and  (max-width: 1199px) {
  .logoContainer{
  margin: 0;
  }
 .logoText{
   display: none;
 }
 .bold{
   display: none;
 }
}
@media  screen and  (max-width: 767px) {
  .logoContainer{
  margin: 0;
  margin-right: auto;
  }

}