.logout {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.userName {
  font-family: Rubik;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.18;
  margin-right: 30px;
}

.userInfoContainer {
  display: flex;
  align-items: center;
  margin-right: 308px;
  position: relative;
}

.userInfoContainer:hover .bubbleWrap {
  visibility: visible;
  cursor: pointer;
}
.userAvatar {
  border-radius: 50%;
  background-color: #fff;
  padding: 5px;
  margin-right: 15px;
}

.bubbleWrap {
  visibility: hidden;
  position: absolute;
  top: 45px;
  right: 130px;
}

@media screen and (max-width: 1199px) {
  .userName {
    display: none;
  }
  .userInfoContainer {
    margin-right: 0;
  }
}

@media screen and (max-width: 767px) {
  .userInfoContainer {
    margin-right: 0;
    /* max-width: 768px; */
  }
}
