.button {
  width: 40px;
  height: 40px;
  border-radius: 15px;
  border: 1px solid #ffbe9d;
  cursor: pointer;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
}

.button:last-child {
  margin-left: 15px;
}

.button:hover,
.button:focus {
  background-color: #ffdfcf;
}

.checkBtn {
  composes: button;
  margin-right: 10px;
  background-image: url(../../../images/svg/check-orange.svg);
  /* ,
    url(../../../images/svg/check-white.svg);
  background-size: auto, 0; */
}

.checkBtnActive {
  composes: button;
  margin-right: 10px;
  background-image: url(../../../images/svg/check-white.svg);
}

.checkBtnDisabled {
  composes: button;
  margin-right: 10px;
  background-image: url(../../../images/svg/check-grey.svg);
}

.crossBtn {
  composes: button;
  background-image: url(../../../images/svg/cross-orange.svg);
}

.crossBtnActive {
  composes: button;
  background-image: url(../../../images/svg/cross-white.svg);
}

.crossBtnDisabled {
  composes: button;
  background-image: url(../../../images/svg/cross-grey.svg);
}
