.container {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 56px;
}

.giftImageThumb {
  border-radius: 15px;
  overflow: hidden;
  width: 317px;
  height: 179px;
}

.giftImage {
  width: 100%;
  /*object-fit: cover; */
  /* object-position: center; */
  /* overflow: hidden; */
  /* height: 100%;*/
}

.giftIcon {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

.giftImageContainer {
  position: relative;
}

.giftAvatarContainer {
  position: absolute;
  top: 10px;
  left: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gifsTitleContainer {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.giftAvatar {
  width: 30px;
  height: 30px;
}

.giftTitle {
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: 0em;
}

.giftName {
  font-size: 22px;
  font-weight: 900;
  margin-bottom: -3px;
}

.GiftContainer {
  margin-bottom: 30px;
}

.GiftList {
  margin: -7px;
  max-width: 760px;
  display: flex;
  flex-wrap: wrap;
}

.giftCard {
  position: relative;
  width: 280px;
  height: 290px;
  border-radius: 20px;
  overflow: hidden;
  background-color: white;
  margin: 7px;
  padding: 10px;
}

.dotsImage {
  margin-left: auto;
  margin-bottom: 7px;
  margin-right: 5px;
}

.moreBtnFolder {
  margin-right: 5px;
}

.starPrice {
  display: flex;
  align-items: center;
}

.starPrice > img {
  width: 20px;
  height: 20px;
  margin-right: 3px;
}

.starPrice > span {
  font-size: 22px;
}

.giftButton {
  width: 120px;
  height: 38px;
  background-color: transparent;
  color: #ff8626;
  border: 1px solid #ff8626;
  border-radius: 15px;
  margin-left: auto;
  margin-bottom: 11px;
}

.giftButton:hover,
.giftButton:focus {
  color: #828282;
  border-color: #bdbdbd;
  background-color: #e5e5e5;
}

.buttonPricePosition {
  display: flex;
}

@media screen and (max-width: 767px) {
  .giftImageThumb {
    width: 260px;
    height: 147px;
  }

  .giftCard {
    width: 280px;
    height: 290px;
  }
  .giftIcon {
    width: 30px;
    height: 30px;
    margin-right: 15px;
  }
  .giftTitle {
    font-size: 22px;
    line-height: 1.18;
  }
}

@media screen and (min-width: 768px) {
  .container {
    margin: -7px;
  }

  .giftCard {
    width: 337px;
    height: 296px;
    margin: 7px;
  }
}
/* 
@media screen and (min-width: 1200px) {
  .container {
    /* margin-left: auto;
    width: 60%; */
/*  }
} */
