.container {
  width: 100%;
    min-height: 100vh;
    max-height: 100%;
    background-color: #FF8626;
    background-size: cover;
    text-align: center;
}
.title {
   font-family: 'Rubik';
font-style: normal;
font-weight: normal;
    font-weight: 900;
    font-size: 22px;
    line-height: 26px;
    color: #ffffff;
    padding: 50px 20px 0;
}

.description {
     font-family: 'Rubik';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
    text-align: left;
    padding: 20px 20px;
}
.btn {
    display: flex;
    flex-direction: column;
}
.btn__signIn,
.btn__signOut {
     font-family: 'Rubik';
    width: 70%;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    margin: 15px auto;
    padding: 12px 18px;
    border: 1px solid #ffffff;
    background-color: #ff8626;
    box-sizing: border-box;
    border-radius: 20px;
    color: #ffffff;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.btn__signIn:hover,
.btn__signOut:hover {
    background-color: #ffffff;
    color: #ff8626;
}
@media (min-width: 768px) {
    .container {
        display: grid;
        grid-auto-rows: auto 1fr;
    }
    .picture {
        display: flex;
        background-image: url('../../img/main.png');
        background-repeat: no-repeat;
        padding-top: 10px;
      padding-bottom: 100px;
     
    }
    .menu {
        max-width: 595px;
        margin: 0 auto;
        margin-bottom: 50px;
    }

    .title {
        font-size: 42px;
        line-height: 50px;
        padding: 50px 20px 0;
    }

    .description {
        font-size: 22px;
        line-height: 26px;
        padding: 20px 20px;
    }
    .btn {
        display: grid;
        grid-template-columns: 180px 180px;
        grid-gap: 15px;
        justify-content: center;
    }
    .btn__signIn,
    .btn__signOut {
        width: 184px;
    }
    .authDesktop {
        display: block;
        max-width: 100%;
        position: relative;
        overflow: hidden;
    }

}

@media (min-width: 1200px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 0;
        text-align: left;
    }

    .title {
      font-family: Rubik;
      font-style: normal;
      font-weight: 900;
      font-size: 42px;
      line-height: 50px;
    }

    .description {
     font-family: Rubik;
     font-style: normal;
     font-weight: normal;
     font-size: 22px;
     line-height: 26px;
    }

    .btn {
        display: grid;
        grid-template-columns: 184px 184px;
        grid-gap: 15px;
        justify-content: center;
    }

    .btn__signIn,
    .btn__signOut {
        text-align: center;
        width: 184px;
    }
}
