.container {
    display: block;
    max-width: 1220px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 1199px) {
    .container {
        max-width: 768px;
        padding: 0 40px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        display: flex;
    }
}