.HabitList {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
  max-width: 690px;
}

.HabitItem {
  position: relative;
  box-sizing: border-box;
  width: 690px;
  height: 142px;
  padding: 15px;
  border-radius: 20px;
  background-color: #fff;
}

.HabitItem:not(:last-child) {
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .HabitList {
    max-width: 280px;
  }

  .HabitItem {
    width: 280px;
    height: 197px;
  }
}
